body{
    background-color: #ffffff;
}
.main_category{
    cursor: pointer;
}
.sub_category{
    display: none;
}

#search_form{
    float: right;
}

#search_button{
    border: none;
    height: 40px;
    font-weight: bold;
}
